<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- 
    Les clés Services obligatoires doivent contenir : nom windows du service; titre pour affichage; serveur; contexte; tooltip 
    Il est possible de configurer des clés supplémentaires :
    - Tooltip_# : pour affichage d'un tooltip au survol
    - Cat_# : Ajoute une catégorie (utile si plusieurs applications avec chacune plusieurs services par exemple
    - Conf_# : Chemin complet vers le fichier de configuration, le cas échéant -> ATTENTION, NON FONCTIONNEL SUR SERVEUR DISTANT 
    - Log_# : Chemin complet vers le (dernier) log du service
    -->

    <add key="Service1" value="Apache;Proxy web;localhost"/>
    <add key="Tooltip_1" value="Service Apache pour proxy"/>
    <add key="Cat_1" value="WEB"/>
    <add key="Conf_1" value="E:\apache.ini"/>
    <add key="Log_1" value="E:\log.txt"/>
    <add key="Service2" value="MySQL;MySQL;localhost"/>
    <add key="Cat_2" value="WEB"/>
    <add key="Conf_2" value="E:\mysql.ini"/>
    <add key="Service3" value="SrvMessagerie;Service bidon;plop"/>
    <add  key="debug" value="1"/>
    <!-- Si des valeurs supplémentaires (donc optionnelles) sont ajoutés, il faut les définir ici -->
    <add key="valeursOptions" value=""/>
  </appSettings>
</configuration>